:root[data-theme='glow'] {
  --background-primary: linear-gradient(90deg,rgba(51, 51, 51, 1) 0%, rgba(58, 58, 58, 1) 10%, rgba(58, 58, 58, 1) 100%);
  --text-primary: #ffffff;
  --focus-outline-color: #1976d2;

  --button-default-background: linear-gradient(135deg,rgba(63, 94, 251, 1) 0%, rgba(165, 81, 173, 1) 70%, rgba(252, 70, 107, 1) 100%);
  --button-default-background-hover: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(23, 163, 81, 1) 88%, rgba(30, 179, 62, 1) 100%);
  --button-default-background-pressed: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(23, 163, 81, 1) 88%, rgba(30, 179, 62, 1) 100%);
  --button-default-color: #ffffff;
  --button-primary-background: linear-gradient(135deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 30%, rgba(0, 212, 255, 1) 100%);
  --button-primary-background-hover: linear-gradient(135deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 10%, rgba(0, 212, 255, 1) 100%);
  --button-primary-background-pressed: linear-gradient(135deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 10%, rgba(0, 212, 255, 1) 100%);
  --button-primary-color: #ffffff;

  --link-color: #4ca9ff;

  --text-input-background: #1a1a1a8a;
  --text-input-border: #9090908a;
  --text-input-color: #ddd;
}
