:root[data-theme='dark'] {
  --background-primary: #333333;
  --text-primary: #ffffff;
  --focus-outline-color: #1976d2;

  --button-default-background: #888888;
  --button-default-background-hover: #666666;
  --button-default-background-pressed: #666666;
  --button-default-color: #ffffff;
  --button-primary-background: #1976d2;
  --button-primary-background-hover: #005db9;
  --button-primary-background-pressed: #005db9;
  --button-primary-color: #fff;

  --text-input-background: #1a1a1a8a;
  --text-input-border: #9090908a;
  --text-input-color: #ddd;
}
